.filter{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.55px);
}
.horizontal_line{
    z-index: 20;
}
@media screen and (max-width:1036px) {
    .filter{
        width: 62%;
    }
}
@media screen and (max-width:945px) {
    .filter{
        width: 63%;
    }
}